language: python

python:
  - '3.6'

install:
  - pip install python-coveralls nose coverage

script:
  - nosetests --with-coverage

after_success:
  - coveralls

deploy:
  provider: pypi
  user: alexmick
  password:
    secure: FxJ//bptUwQYw/ahz9p/5bBfLMCSmQKpr3QVJbgAloOCWn9iWb4D2AOIxiNxPAsuUpYQOIqzHGIQWtzaV4q5DpbDKI2Ha8vfQIaG3vshtSDPCCPyRt7qCq1C8UZUi/PKHGEDIGH9+GWuVo7QIVdsE+4gd2LEqcdnI74zrumtCzK5BoE8rsDkRn3ihAXfopC7uxZNLmwGx6/rQdfDggMy7phr/obG2kpIOYOolqKvsOYYcNItgrXO1GBjuu6/2wF/6soa0vBUPpq+w5wI/+YL3Qn2k+OsSWmkA1Q/7W/3aSQcA7Klrx444zVC7c79ndot5zvzd6OYMAU8rIz7Sx3wFnJHBa3rL5DVPsn9n1N1n+z9oSywmcCVE9RRxil4EhO34LPry9YMRvs+eNHrumVkYix3g/8fjsThxAEDcYFHaCqA/Ps2Qb77Cd60IzOhFpu63CgNK6JweXyDFmuKJqSEW5b8Y9BTtXpYKo8QJTooqZnEY8UzraX4kqtlbQbEf4GYzJu3y4LzOShrOfzeL7r3HkO6/4xof8qvOrW7uiKaztaGTElPqtxt6s1tMMMaIBmdzjxpN7Pjx+0nNc11MeLwsLlUdKdmOzPCe6uBdCyiyMVvWSzydA0fuje6eGxvNouYUDgynryhDShTvClzhFphujG/jmf0fkMEfLmhWEzENso=
